@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --bg-primary: 30 30 30;
    --primary: 197 255 0;
  }
}

#__next {
  overflow-y: hidden;
}

.custom-select {
  color: #ffffff; /* White text color */
}

.custom-select option {
  color: #094f2d; /* White text color for options */
}

.custom-select option:checked {
  background-color: #ffffff; /* White background for selected option */
  color: #000000; /* Black text color for selected option */
}

/* styles.css or global.css */
.backdrop-blur {
  backdrop-filter: blur(90px); /* Adjust the blur amount as needed */
}